.p-button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
}
.p-button.primary {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
}

.p-button.primary:hover {
  background-color: var(--white);
  color: var(--blue);
}

.p-button.inverted {
  background-color: transparent;
  border: 0px !important;
}
.p-button.inverted.primary {
  color: #005eb8;
}
